
/*
Padding : Relleno entre el contenido (Texto) y el resto de la caja
Border: bordes de la caja
Margin: Distancia creada entre la caja y el siguiente elemento/caja

*/
body{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 25vw 1fr 10vw;
    background-color: rgb(24, 22, 22);
    grid-template-areas: 
        "header header header"
        "main main aside"
        "footer footer footer";
}
header{
    grid-area: header;
    background-color: aqua;
}
aside{ 
    grid-area: aside;
    background-color: lightblue;
}

main{
    grid-area: main;
}
footer{
    grid-area: footer;
    background-color: ghostwhite;
}
/*
article.Leccion{
    background-color: darkcyan;
    
}

article.Fuentes{
    background-color: lightseagreen;
}
*/

h2{    font-weight: bold;  }

.Esquema{ 
    margin: 0 5%;
}
.Fuentes h3{
    text-decoration: underline;
}










/* Prototype*/
.Prototype aside{              background-color: lightgray;    border-color: darkgray;   }
.Prototype article.Leccion{    background-color: darkcyan;}
.Prototype article.Fuentes{    background-color: lightseagreen;}
.Prototype h2{                 color: darkgreen;}


